* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.grid-container {
    border: 1px solid red;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: [header-start] 2fr [header-end] 1fr 1fr 1fr 1fr 1fr;
}

.item {
    margin: 5px;
    border: 1px solid black;
}

.header {
    grid-row: header-start / header-end;
}

.item5 {

}