* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

p {
    width: 300px;
}

p::before {
    background-color: #ffffba;
    border-radius: 50%;
    content: '';
    display: block;
    height: 100px;
    width: 100px;
    float: left;
    shape-outside: circle();
    margin-right: 20px;
}