* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.grid-container {
    border: 1px solid red;
    display: grid;
    height: 500px;
    grid-template-columns: 200px 100px 100px;
    grid-template-rows: 100px 80px;

    justify-content: center;
    align-content: center;
}

.item {
    margin: 5px;
    border: 1px solid black;
}
